@charset "ISO-8859-1";
        .card-header {
            padding: 70px;
            background-color: lightskyblue;
            color: black;
            text-align: center;
            font-size: 30px;
        }
        
        .card-footer {
            padding: 92px;
            background-color: lightskyblue;
            color: black;
            text-align: right;
            font-size: 20px;
        }
        
        .card {
            margin: 0 auto;
            /* Added */
            float: none;
            /* Added */
            margin-bottom: 0px;
            /* Added */
        }
        
        .body {
            background-image: url(/tester/image/1.jpg);
            background-position: center;
            background-repeat: repeat-x;
            background-size: 497px;
        }


